<div class="btn-group">
                                    <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                        Выберите действие
                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu pull-right" role="menu">
                                        <li><a href="show_checkpoint">Посмотеть информацию</a>
                                        </li>
                                        <li><a href="edit_checkpoint">Изменить информацию</a>
                                        </li>
                                        <li><a href="#">Удалить</a>
                                        </li>
                                        </ul>
										</div>