{% block actions %}
<td class="center">
                                                <div class="btn-group">
                                    <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                        Выберите действие
                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu pull-right" role="menu">
                                        <li><a href="show_leaser">Информация об учетной записи пользователя</a>
                                        </li>
                                        <li><a href="edit_leaser">Изменить информацию о пользователе</a>
                                        </li>
                                        <li><a href="show_contract">Посмотеть контракты пользователя</a>
                                        </li>
                                        <li><a href="#">Удалить пользователя</a>
                                        </li>
                                        </ul>
                                </div></td>
								{% endblock%}