{% extends 'AppBundle::base.html.twig' %}



{% block title %}Личный кабинет администратора{% endblock %}

{% block pagemenu %}
		<li>
		 <a href="leasers_control"><i class="fa fa-dashboard fa-fw"></i>Управление арендаторами</a>
        </li>
		<li>
			 <a href="checkpoints_control"><i class="fa fa-dashboard fa-fw"></i>Управление checkpoint(ами)</a>
        </li>
		
		<li>
			<a href="sectors_control"><i class="fa fa-dashboard fa-fw"></i>Управление секторами</a>
        </li>
		
		<li>
			<a href="contracts_control"><i class="fa fa-dashboard fa-fw"></i>Управление контрактами</a>
        </li>
{% endblock %}



{% block body %}
		
	 <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                	{% block breadcrumb %}
					<div id="breadcrumbs">
						<br>
						<ul class="breadcrumb">
						<li><a href="leaserpage">Главная</a></li>
						</ul>
					</div>
					{% endblock %}
				
               <h1 class="page-header">Личный кабинет администратора</h1>
                </div>
                <!-- /.col-lg-12 -->
            
			<div class="row">
                <div class="col-lg-3 col-md-6">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-users fa-5x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge"></div>
                                    <div>Управление арендаторами!</div>
                                </div>
                            </div>
                        </div>
                        <a href="leasers_control">
                            <div class="panel-footer">
                                <span class="pull-left">Подробнее</span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="panel panel-green">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-lock fa-5x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge"></div>
                                    <div>Управление checkpoint(ами)</div>
                                </div>
                            </div>
                        </div>
                        <a href="checkpoints_control">
                            <div class="panel-footer">
                                <span class="pull-left">Подробнее</span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="panel panel-yellow">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="glyphicon glyphicon-th fa-5x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge"></div>
                                    <div>Управление секторами</div>
                                </div>
                            </div>
                        </div>
                        <a href="sectors_control">
                            <div class="panel-footer">
                                <span class="pull-left">Подробнее</span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="panel panel-red">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-briefcase fa-5x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge"></div>
                                    <div>Управление контрактами</div>
                                </div>
                            </div>
                        </div>
                        <a href="contracts_control">
                            <div class="panel-footer">
                                <span class="pull-left">Подробнее</span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
			
			</div>
            <!-- /.row -->
			
			
	</div>
        <!-- /#page-wrapper -->
    
            {% endblock %}