{% extends 'AppBundle::base.html.twig' %}

{% block title %}Личный кабинет администратора{% endblock %}

{% block body %}
	<link href="css/main.css" rel="stylesheet" type="text/css">
	 <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                	{% block breadcrumb %}
					  <div id="breadcrumbs" class="btn-group btn-breadcrumb">
                        <br>
                        <a class="btn btn-default" href="{{ path('main_page') }}">
                        <i class="fa fa-home"></i>Главная
                        </a>
                    </div>
					{% endblock %}
				
               <h1 class="page-header">Личный кабинет администратора</h1>
                </div>
                <!-- /.col-lg-12 -->
       <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Аналитика
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <!-- Nav tabs -->
                            <ul class="nav nav-tabs">
                                <li class="active"><a href="#home" data-toggle="tab">Активность арендаторов</a>
                                </li>
                                <li><a href="#profile" data-toggle="tab">Использование системы</a>
                                </li>
                               </ul>

                            <!-- Tab panes -->
                            <div class="tab-content">
                                <div class="tab-pane fade in active" id="home">
		   <h4>Активность арендаторов</h4>
									<div id="container" style="height: 400px"></div>
                                </div>
                                <div class="tab-pane fade" id="profile">
                                    <h4>Использование системы</h4>
									<div id="system" style="min-width: 70%; height: 70%; margin: 0 auto"></div>
                                </div>
                               
                            </div>
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
	   </div>
				
<!-- two different charts -->
<div id="chart_1" class="chart"></div>
<div id="chart_2" class="chart"></div>
	</div>
</div></div>
{% endblock %}


{% block js %}
    <script src="{{asset('bootstrap1/js/admin-highchart.js')}}"></script>
    <script src="{{asset('bootstrap1/js/2admin-highchart.js')}}"></script>
{{parent()}}
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/highcharts-3d.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>

{% endblock %}