

		<li>
		 <a href="leasers_control"><i class="fa fa-dashboard fa-fw"></i>Управление арендаторами</a>

        </li>
		
		<li>
		 <a href="buildings_control"><i class="fa fa-dashboard fa-fw"></i>Управление зданиями</a>
			</li>

		<li>
			<a href="checkpoints_control"><i class="fa fa-dashboard fa-fw"></i>Управление учетными записями охраны</a>
		</li>
