{% extends 'AppBundle::base.html.twig' %}



{% block title %}Личный кабинет администратора{% endblock %}

{% block pagemenu %}
		<li>
		 <a href="leasers_control"><i class="fa fa-dashboard fa-fw"></i>Управление арендаторами</a>
        </li>
		<li>
			 <a href="checkpoints_control"><i class="fa fa-dashboard fa-fw"></i>Управление checkpoint(ами)</a>
        </li>
		
		<li>
			<a href="sectors_control"><i class="fa fa-dashboard fa-fw"></i>Управление секторами</a>
        </li>
		
		<li>
			<a href="contracts_control"><i class="fa fa-dashboard fa-fw"></i>Управление контрактами</a>
        </li>
{% endblock %}


{% block body %}
		
		<div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                	{% block breadcrumb %}
					<div id="breadcrumbs">
						<br>
						<ul class="breadcrumb">
						<li><a href="leaserpage">Главная</a></li>
						<li><a href="leaserpage">Управление checkpoint</a></li>
						<li><a href="leaserpage">Просмотр информации о checkpoint </a></li>
						</ul>
					</div>
					{% endblock %}
											
               <h1 class="page-header">Личный кабинет администратора</h1>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
			<div class="col-lg-6">
                   			<div class="panel panel-default">
                        <div class="panel-heading">
                            <i class="fa fa-bar-chart-o fa-fw"></i> Информация о КПП
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
						
						<div class="table-responsive">
                                <table class="table">
                                    
                                    <tbody>
                                        <tr class="success">
                                            <td>ID</td>
											<td>001</td>
											</tr>
											<tr class="success">
                                            <td></td>
											<td>Apple Corporation</td>
											</tr>
											<tr class="success">
                                            <td>Владелец</td>
											<td>Tim Cook</td>
											</tr>
											<tr class="success">
                                            <td>Этаж(и)</td>
											<td>15,16,17</td>
											</tr>
											<tr class="success">
											<td>Офис(ы)</td>
											<td>150-179</td>
											</tr>
											<tr class="success">
											<td>Статус договора</td>
											<td>Активен</td>
											</tr>
											<tr class="success">
											<td>Подписан</td>
											<td>01.01.2014</td>
											</tr>
											<tr class="success">
											<td>Срок окончания действия</td>
											<td>01.12.2017</td>
											</tr>
											<tr>
											<td></td>
											<td align="right"><br><button type="button" formaction="editcontract" class="btn btn-default">Редактировать</button></td>
											</tr>
                                    </tbody>
                                </table>
								
                            </div>
					</div>	
                        <!-- /.panel-body -->
                    </div>
	</div>
        <!-- /#page-wrapper -->

    
            {% endblock %}