{% extends 'AppBundle::base.html.twig' %}

{% block title %}AppBundle:UserProfile:userProfile{% endblock %}

{% block body %}

<div id="page-wrapper">
    <!-- Page Heading -->
	<div class="row">
				<div class="col-lg-12">
				{% block breadcrumb %}
					<br>
					<div id="breadcrumbs" class="btn-group btn-breadcrumb">
						<a class="btn btn-default" href="{{ path('main_page') }}">
							<i class="fa fa-home"></i>
						</a>
						
					</div>
					{% endblock %}
				</div>
			</div>
			<div class="row">
			</div>
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">Информация о пользователе</</h1>
				</div>
			</div>
	<div class="row">
		<div class="col-lg-8">
					<table class="table table-hover">
						<thead>
							<tr>
								<th></th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>Фамилия</td>
								<td></td>
							</tr>
							<tr>
								<td>Имя</td>
								<td></td>
							</tr>
							<tr>
								<td>Отчество</td>
								<td></td>
							</tr>
							<tr>
								<td>Дата рождения</td>
								<td></td>
							</tr>
						</tbody>
					</table>
		</div>
		<div class="col-lg-4">
			<img src="{{ asset('bootstrap1/default.jpg')}}" alt="User Avatar" width="150" height="200">
		</div>
	</div>
</div>
{% endblock %}
