{% extends 'AppBundle::base.html.twig' %}


{% block title %}Личный кабинет администратора{% endblock %}

	{% block header %} 
		<a class="navbar-brand" href="adminbc">QVisitor</a>
			{% endblock %}
			
	{%block pagemenu%}
		{{ include('AppBundle:Adminbc:pagemenu.html.twig') }}
			{%endblock%}

{% block body %}
		
        <style>
.type_date-inline{
    position: relative;
    display: inline-block;
    padding-left: 20px;
    width: 40%;
    height: 34px;
    margin-bottom: 0;
    font-weight: 400;
    vertical-align: middle;
    cursor: pointer;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
</style>
        
	 <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                	    {% block breadcrumb %}
					    <div id="breadcrumbs">
						<br>
						<ul class="breadcrumb">
						<li><a href="adminbc">Главная</a></li>
						<li><a href="buildings_control">Управление зданиями</a></li>
						<li><a href="floors_control">Управление этажами</a></li>
						<li><a href="create_floor">Создать новый этаж</a></li>
						</ul>
					</div>
					{% endblock %}
				
               <h1 class="page-header">Новый этаж</h1>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
            <div class="row" align="justify">
                <div class="col-lg-8">
                    <div class="panel panel-default">
                      <div class="panel-body">
                            <div class="row">
                                <div class="col-lg-8">
                                    <form role="form">
                                        <div class="form-group" id = 'number'>
                                           <label>Номер этажа</label><br>
                                             <input type="number" class="type_date-inline" >
                                        </div>
                                        
                                        <div class="form-group" id = 'name'>
                                            
                                            <label>Название</label>
											<input type="text" class="type_date-inline" >
                                        </div>
                                        <div class="form-group" id = 'building'>
                                            <label>Здание</label>
											<input type="text" class="type_date-inline" >
                                        </div>
								   </div>
                                         </form>
                                </div>
                                
                                </div>
                                <!-- /.col-lg-6 (nested) -->
                            </div>
                            <!-- /.row (nested) -->
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->
    
            {% endblock %}