<div class="modal-content" id="newVisitorModalLabel">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Информация по посетителю</h4>
    </div>
    <div class="modal-body">
        <div class="panel-body">
            <div class="col-lg-12">
                <div>
                    {{form_start(visitorform)}}
                    {{ form_widget(visitorform) }}
                    {{form_widget(visitorform._token)}}
                        <input type="submit" class="btn btn-primary" value="Создать" />
                    {{form_end(visitorform)}}
                </div>
            <!-- /.table-responsive -->
        </div>
        <!-- /.panel-body -->
    </div>
</div>

</div>

