{% extends 'AppBundle::base.html.twig' %}


{% block title %}Личный кабинет администратора{% endblock %}

{% block header %}
    <a class="navbar-brand" href="adminbc">QVisitor</a>
{% endblock %}

	{%block pagemenu%}
        {{ include('AppBundle:Adminbc:pagemenu.html.twig') }}
    {%endblock%}

{% block body %}




    <div id="page-wrapper">
		<div class="row">
			<div class="col-lg-12">
				{% block breadcrumb %}
					<div id="breadcrumbs"><br>
						<ul>
							<li><a href="adminbc">Главная</a></li>
							<li><a href="buildings_control">Управление зданиями</a></li>
							<li><a href="buildings_control">Этажи</a></li>
							<li><a href="buildings_control">Сектора</a></li>
							<li><a href="create_sector">Создать новый сектор</a></li>
						</ul>
					</div>
				{% endblock %}

				<h1 class="page-header">Личный кабинет администратора</h1>
				<!-- /.col-lg-12 -->
				</div>
   
			<div class="col-lg-12">
				<div class="panel panel-default">
					
					<div class="panel-body">
						<div class="row">
							<div class="col-lg-6">
								<form name="qv_floor" method="post">
									<div id="qv_floor">
										<div class="form-group">
											<label for="qv_sector_name">Номер сектора</label>
												<input class="form-control" type="text" id="qv_sector_name" name="qv_sector[name]" required="required" maxlength="45">
										</div>
									
									<div class="form-group">
										<label for="qv_sector_floor">Номер этажа</label>
										<select class="form-control" id="qv_sector_floor" name="qv_sector[floor]"><option value=""></option></select>
										</div>
										
										<div>
											<label for="qv_sector_contracts">Контракты</label><select class="form-control" id="qv_sector_contracts" name="qv_sector[contracts][]" multiple="multiple"></select></div>
										
										<br>
										<button type="submit" class="btn btn-success">Создать </button>
								</form>
							</div>
							<!-- /.col-lg-6 (nested) -->
						</div>
						<!-- /.row (nested) -->
					</div>
					<!-- /.panel-body -->
				</div>
				<!-- /.panel -->
			</div>
   
        <!-- /.row -->
        </div>
    <!-- /#page-wrapper -->
	</div>
    


{% endblock %}