{% extends 'AppBundle::base.html.twig' %}


{% block title %}Личный кабинет администратора{% endblock %}

{% block header %} 
<a class="navbar-brand" href="adminbc">QVisitor</a>

{% endblock %}

{%block pagemenu%}
		{{ include('AppBundle:Adminbc:pagemenu.html.twig') }}
			{%endblock%}

{% block body %}
		
		
		

	 <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                	{% block breadcrumb %}
					<div id="breadcrumbs">
						<br>
						<ul>
						<li><a href="adminbc">Главная</a></li>
						<li><a href="buildings_control">Управление зданиями</a></li>
						<li><a href="show_building">Просмотр информации о зданиях</a></li>
						<li><a href="edit_building">Изменение информации о здании</a></li>
						</ul>
					</div>
					{% endblock %}
											
               <h1 class="page-header">Личный кабинет администратора</h1>
                <!-- /.col-lg-12 -->
            </div>
			
		<div class="col-lg-6">
        <div class="form-group">
            <div id="qv_checkpoint">
                <div>
                    <label for="qv_checkpoint_name" class="required">Название здания</label>
                    <input type="text" id="qv_checkpoint_name" name="qv_checkpoint[name]" required="required" class="form-control" maxlength="45">
                </div>

                <label for="qv_checkpoint_building">Выбрать здание (корпус)</label>
                <select id="qv_checkpoint_building" name="qv_checkpoint[building]" class="form-control">
                    <option value=""></option>
                    <option value="1">Main Building</option>
                </select>
                <input type="hidden" id="qv_checkpoint__token" name="qv_checkpoint[_token]" value="7O8-uFuFPB9fLGtreJFZ6g52Ar5_uwKUl_q4LZv9X38">

            </div>
        </div>
        <div name="edit_button" align="right">
            <a href="#" class="btn btn-success">Сохранить изменения</a>
			  <a href="#" class="btn btn-danger">Очистить форму</a>
            <div>
                <!-- /.col-lg-6-->
            </div>
            <!-- /.row -->
        </div>
    </div>
            <!-- /.row -->
			        </div>
	</div>
        <!-- /#page-wrapper -->

    
            {% endblock %}