
                            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                            <h4 class="modal-title" id="myModalLabel">Информация о контракте № 1</h4>
                                        </div>
                                        
										<div class="modal-body">
                                        <div class="panel-body">
																<div class="col-lg-12">
																	<div class="table-responsive">
																		<table class="table table-hover">
																		<tbody>
											<tr>
                                            <td>Номер договора</td>
											<td>545468</td>
											</tr>
											<tr>
                                            <td>Название компании</td>
											<td>Apple Corporation</td>
											</tr>
											<tr>
                                            <td>Владелец</td>
											<td>Tim Cook</td>
											</tr>
											<tr>
                                            <td>Этаж(и)</td>
											<td>15,16,17</td>
											</tr>
											<tr>
											<td>Офис(ы)</td>
											<td>150-179</td>
											</tr>
											<tr>
											<td>Статус договора</td>
											<td>Активен</td>
											</tr>
											<tr>
											<td>Подписан</td>
											<td>01.01.2014</td>
											</tr>
											<tr>
											<td>Срок окончания действия</td>
											<td>01.12.2017</td>
											</tr>
																				
																			</tbody>
																		</table>
																	</div>
															<!-- /.panel-body -->
														</div>
                                        </div>
									
										
										
                                       
									   <div class="modal-footer">
                                            <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
                                            
                                        </div>
                                    </div>
                                    <!-- /.modal-content -->
                                </div>
                                <!-- /.modal-dialog -->
                            </div>
                            <!-- /.modal -->
                        </div>
						