{% extends 'AppBundle::base.html.twig' %}

{% block title %}Личный кабинет администратора{% endblock %}

{% block body %}
	<link href="css/main.css" rel="stylesheet" type="text/css">
	 <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                	{% block breadcrumb %}
					  <div id="breadcrumbs" class="btn-group btn-breadcrumb">
                        <br>
                        <a class="btn btn-default" href="{{ path('main_page') }}">
                        <i class="fa fa-home"></i>Главная
                        </a>
                    </div>
					{% endblock %}
				
               <h1 class="page-header">Раздел Аналитики</h1>
                </div>
                <!-- /.col-lg-12 -->
            </div>
             <div class="row">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div id='container3'>
                    </div>
                </div>
            </div>
    </div>
</div>
{% endblock %}

{% block js %}
    <script>
    {{chart(chart)}}
    </script>
{#<script>
/*Highcharts.chart('container3', {
    chart: {
        type: 'column'
    },
    title: {
        text: 'График - посещаемости по заявкам и без заявок'
    },
    subtitle: {
        text: 'В разрезе КПП'
    },
    xAxis: {
        categories: [
            'Январь',
            'Февраль',
            'Март',
            'Апрель',
            'Май',
            'Июнь',
            'Июль',
            'Август',
            'Сентябрь',
            'Октябрь',
            'Ноябрь',
            'Декабрь'
        ],
        crosshair: true
    },
    yAxis: {
        min: 0,
        title: {
            text: 'Количество посетителей'
        }
    },
    tooltip: {
        headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
        pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
            '<td style="padding:0"><b>{point.y:.1f}</b></td></tr>',
        footerFormat: '</table>',
        shared: true,
        useHTML: true
    },
    plotOptions: {
        column: {
            pointPadding: 0.3,
            borderWidth: 0
        }
    },
     series: []
});*/
/*var r;
    function loadBuildings(){
        $.ajax({
            type: "GET",
            url: "{{ path('ajaxVisitors')}}",
                    success: function(visitors){
                        $.each(JSON.parse(visitors),function(k,v){
                        $r = v;
                        console.log($r);
                        });
                    }
                });
            }

            $(function (){
                loadBuildings();
            });
*//*
$(document).ready(function() {
  var options = {
                chart: {
                    renderTo: 'container3',
                    type: 'column'
                },
                title: {
                    text: 'Tiny Tool Monthly Sales'                 
                },
                subtitle: {
                    text: '2014 Q1-Q2'
                },
                xAxis: {
                    categories: []
                },
                yAxis: {
                    title: {
                        text: 'Sales'
                    }
                },
                series: [{}]
            };
    
    var url =  "{{ path('ajaxVisitors') }}";
    $.getJSON(url,  function(data) {
        options.series[0].data = data;
        //options.series[0].name = data;
        var chart = new Highcharts.Chart(options);
        console.log(options);
    });
});*/
</script>#}
{% endblock %}