{% extends 'AppBundle::base.html.twig' %}


{% block title %}Личный кабинет администратора{% endblock %}

{% block header %} 
<a class="navbar-brand" href="adminbc">QVisitor</a>

{% endblock %}
{%block pagemenu%}
		{{ include('AppBundle:Adminbc:pagemenu.html.twig') }}
			{%endblock%}


{% block body %}
		
		
		

	 <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                	{% block breadcrumb %}
					<div id="breadcrumbs">
						<br>
						<ul>
						<li><a href="adminbc">Главная</a></li>
						<li><a href="leasers_control">Управление арендаторами</a></li>
						<li><a href="show_contract">Просмотр информации о контрактах</a></li>
						<li><a href="edit_contract">Изменение информации о контракте</a></li>
						
						</ul>
					</div>
					{% endblock %}
											
               <h1 class="page-header">Личный кабинет администратора</h1>
                <!-- /.col-lg-12 -->
            </div>

			<div class="col-lg-6">
				<div class="form-group">
					<div id="qv_chontract_startdate">
						<div>
							<label for="qv_contract_startdate" class="required">Изменить дату подписания контракта</label>
							<input type="date" id="qv_contract" name="qv_contract[name]" required="required" class="form-control">
						</div>
<div id="qv_contract_enddate">
								<label for="qv_contract_enddate" class="required">Изменить дату окончания контракта</label>
							<input type="date" id="qv_contract_enddate" name="qv_contract_enddate[name]" required="required" class="form-control">
						</div>
						
<div id="leaser">
								<label for="qv_contract_leaser" class="required">Сменить владельца (контракта)</label>
							<input type="text" name="qv_contract_leaser[name]" required="required" class="form-control">
						</div>
						
<div id="name_company">
								<label for="qv_contract_name_cmp" class="required">Сменить название компании</label>
							<input type="text" name="qv_contract_name_cmp[name]" required="required" class="form-control">
						</div>
						
						<div id="sectors">
								<label for="qv_contract_name_cmp" class="required">Сменить офисы</label>
							<input type="text" name="qv_contract_sectors[name]" required="required" class="form-control">
						</div>
					
									<input type="hidden" id="qv_checkpoint__token" name="qv_checkpoint[_token]" value="7O8-uFuFPB9fLGtreJFZ6g52Ar5_uwKUl_q4LZv9X38">

					</div>
				</div>
				<div name="edit_button" align="right">
				<a href="#" class="btn btn-primary">Изменить</a>
				<div>
<!-- /.col-lg-6-->
</div>
			
            <!-- /.row -->
			        </div>
	</div>
        <!-- /#page-wrapper -->

    
            {% endblock %}