{% extends 'AppBundle::base.html.twig' %}

{% block title %}Личный кабинет администратора{% endblock %}
{% block body %}
		
	 <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                	{% block breadcrumb %}
					<div id="breadcrumbs">
						<br>
						<ul>
						<li><a href="\adminbc\index">Главная</a></li>
						<li><a href="\adminbc\leasers">Управление арендаторами</a></li>
						<li><a href="create_leaser">Создание учетной записи арендатора</a></li>
						
						</ul>
					</div>
					{% endblock %}
											
               <h1 class="page-header">Личный кабинет администратора</h1>
                <!-- /.col-lg-12 -->
            </div>
			
	<div class="col-lg-4" >
	<div class="form-group has-success">
       {{ form_start(form) }}
{{ form_row(form.name) }}
{{ form_row(form.BIN) }}
<input type="submit" name="register" class="btn-block">
{{ form_end(form) }}
	</div>
        <!-- /.row -->
		</div>
	</div>
        <!-- /#page-wrapper -->
		</div>>
    
            {% endblock %}