{% block actions %}
<td class="center">
                                                <div class="btn-group">
                                    <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                        Выберите действие
                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu pull-right" role="menu">
                                        <li><a {{path('sectors_show', { 'id': qvSector.id })}}>Информация об данном секторе</a>
                                        </li>
                                        <li><a {{path('sectors_edit', { 'id': qvSector.id })}}>Изменить информацию о секторе</a>
                                        </li>
                                        <li><a {{path('sectors_delete', { 'id': qvSector.id })}}>Удалить данный сектор</a>
                                        </li>
                                        </ul>
                                </div></td>
								{% endblock%}