<div class="btn-group">
                                    <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                        Выберите действие
                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu pull-right" role="menu">
                                        <li>
                                            <a href="{{path('checkpoints_show', { 'id': qvCheckpoint.id })}}">
                                                Посмотеть информацию
                                        </a>
                                        </li>
                                        <li>
                                            <a href="{{path('checkpoints_edit', { 'id': qvCheckpoint.id })}}">
                                                Изменить или Удалить информацию
                                            </a>
                                        </li>

                                        </ul>
										</div>