{% extends 'AppBundle::base.html.twig' %}

{% block title %}Супер-админ{% endblock %}
{% block pagemenu %}
		<li>
			<a href="analytics">Аналитика</a>
        </li>
		<li>
			<a href="business-center">Управление бизнес-центрами</a>
        </li>
		<li>
			<a href="admin-bc" class="active">Управление админами БЦ</a>
        </li>
{% endblock %}

{% block body %}
{% endblock %}
