{% extends 'AppBundle:base.html.twig' %}

{% block title %}Личный кабинет администратора{% endblock %}


{% block modal %}

<div class="modal fade in" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: block;">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                            <h4 class="modal-title" id="myModalLabel">Modal title</h4>
                                        </div>
                                        <div class="modal-body">
                                            <h1>Создание нового пользователя системы QVisitor</h1>
                                           {{ form_start(form) }}
                                           {{ form_widget(form) }}
                                        <input type="submit" value ="Создать"/>
                                        {{ form_end(form) }}                      
                                        </div>
                                    </div>
                                    <!-- /.modal-content -->
                                </div>
                                <!-- /.modal-dialog -->
                            </div>

{% endblock %}